@media (max-width: 768px) {
  .container {
    width: $width-content-narrow;
    position: relative;
  }

  .top-menu {
    &__list {
      display: none;
    }
    &__button-sandwich {
      display: inline-block;
    }
  }

  .list-active {
    display: block;
  }

  .header {
    &-wrapper {
      margin-top: 53px;
    }
    &__img {
      width: $width-content-narrow;
    }
  }

  .main__recent-posts {
    width: $width-content-narrow;
    margin-top: 38px;

    &-wrapper {
      grid-template-columns: repeat(1, 1fr);
      width: 300px;
      margin-top: 23px;
      row-gap: 28px;
    }

    &-item {
      @include flex(column, flex-start, flex-start);
      &-wrapper {
        padding-left: 0;
        margin-top: 11px;
      }

      &-title {
        font-size: 14px;
        line-height: 30px;
      }

      &-statistic {
        @include font-properties(
          $font-size-s,
          $weight-size-medium,
          20px,
          $secondary-color
        );
      }

      &-description {
        display: none;
      }
    }
  }

  .main__instagram {
    margin-top: 39px;
    background: none;
    &-nav {
      width: $width-content-narrow;
      margin-top: 38px;

      h5 {
        display: none;
      }
    }

    &-photo-wrapper {
      margin-top: 13px;
      padding-bottom: 42px;
      img {
        width: 301px;
      }

      img:not(:first-child) {
        display: none;
      }
    }
  }

  .footer {
    &__title {
      color: #fefefe;
      margin-top: 38px;
      font-size: 14px;
    }

    &__description {
      @include font-properties(
        $font-size-m,
        $weight-size-medium,
        20px,
        $fourth-color
      );
      width: 303px;
      text-align: center;
      margin-top: 8px;
    }

    &__social-icons-wrapper {
      @include flex(row, space-between, center);
      width: 192px;
      margin-top: 26px;
    }

    &__contacts {
      @include font-properties(
        $font-size-l,
        $weight-size-medium,
        24px,
        $fourth-color
      );
      margin: 25px 0 47px;
      width: 210px;
      text-align: center;
    }
  }
}
