@media (max-width: 1200px) {
  .container {
    width: $width-content-medium;
  }

  .top-menu__list {
    width: 610px;
  }

  .top-menu__button-sandwich {
    display: none;
  }

  .header {
    &-wrapper {
      margin-top: 43px;
    }
    &__img {
      width: $width-content-medium;
    }
  }

  .main__recent-posts {
    width: $width-content-medium;
    margin-top: 56px;

    &-wrapper {
      grid-template-columns: repeat(1, 1fr);
      width: 555px;
    }
  }

  .main__instagram {
    margin-top: 60px;

    &-nav {
      width: $width-content-medium;
    }

    &-photo-wrapper {
      img {
        width: 249px;
      }

      img:last-child {
        display: none;
      }
    }
  }
}
