@import "reset";
@import "fonts";
@import "root";
@import "mixin";
@import "variables";

h4 {
  color: $primary-color;
  font-weight: 700;
  line-height: 22px;
  text-transform: uppercase;
}

.container {
  width: $width-content-large;
  margin: 0 auto;
}
.top-menu {
  @include flex(row, center, center);
  padding-top: 30px;

  &__list {
    width: 812px;
    @include flex(row, space-between, center);
    &-item {
      text-decoration: none;
      text-transform: uppercase;
      @include font-properties(
        $font-size-s,
        $weight-size-medium,
        22px,
        $primary-color
      );
    }
    &-item:hover {
      color: #57a4a4;
    }
  }

  &__button {
    background-color: #938686;
  }

  &__button-sandwich {
    display: none;
    padding: 0;
    background: #000000;
    position: absolute;
    line-height: 0px;
    border-width: 0px;
    top: 23px;
    right: 0px;
  }
  &__button-list-wrapper {
    display: none;
    position: absolute;
    min-width: 182px;
    height: 208px;
    background: #f5f5f5;
    top: 60px;
    right: 0px;
  }
  &__button-list {
    a {
      @include font-properties(
        $font-size-s,
        $weight-size-medium,
        22px,
        $primary-color
      );
      letter-spacing: 1.1px;
      text-decoration: none;
      padding-left: 12px;
      padding-top: 4.5px;
      text-transform: uppercase;
      display: block;
      border-bottom: 2px solid inherit;
      height: 30px;
    }
    a:first-child {
      color: #57a4a4;
    }
    a:hover {
      background: #e5e5e5;
    }
  }
}

.header {
  &-wrapper {
    margin-top: 51px;
    @include flex(row, center, center);
    .header__img {
      max-width: $width-content-large;
    }
  }
}

.main__recent-posts {
  width: $width-content-large;
  margin-top: 66px;

  &-wrapper {
    margin-top: 24px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 32px;
    column-gap: 25px;
  }

  &-item-wrapper {
    padding-left: 21px;
    @include flex(column, flex-start, flex-start);
  }

  &-item {
    @include flex(row, center, flex-start);
    &-title {
      font-size: 16px;
      line-height: 30px;
    }
    &-statistic {
      @include font-properties(
        $font-size-m,
        $weight-size-medium,
        20px,
        $secondary-color
      );
    }
    &-description {
      margin-top: 13px;
      @include font-properties(
        $font-size-l,
        $weight-size-medium,
        26px,
        $third-color
      );
    }
  }
}

.main__instagram {
  @include flex(column, flex-start, center);
  margin-top: 69px;
  background: #f7f7f7;
  &-nav {
    width: $width-content-large;
    margin-top: 47px;
    @include flex(row, space-between, center);

    h5 {
      color: $primary-color;
      font-weight: 700;
      line-height: 22px;
      text-transform: uppercase;
    }
  }
  &-photo-wrapper {
    @include flex(row, space-between, center);
    margin-top: 24px;
    padding-bottom: 49px;
  }
}

.footer {
  background: #000000;
  @include flex(column, flex-start, center);

  &__title {
    color: #fefefe;
    margin-top: 66px;
    font-size: 16px;
  }

  &__description {
    @include font-properties(
      $font-size-xl,
      $weight-size-medium,
      28px,
      $fourth-color
    );
    width: 684px;
    text-align: center;
    margin-top: 22px;
  }

  &__social-icons-wrapper {
    @include flex(row, space-between, center);
    width: 192px;
    margin-top: 37px;
  }

  &__contacts {
    @include font-properties(
      $font-size-xl,
      $weight-size-medium,
      26px,
      $fourth-color
    );
    margin: 34px 0 70px;
  }
}

@import "size_l.scss";
@import "size_m.scss";
