// WIDTH контента
$width-content-large: 1170px;
$width-content-medium: 768px;
$width-content-narrow: 320px;

// SIZE шрифтов
$font-size-xl: 16px;
$font-size-l: 14px;
$font-size-m: 12px;
$font-size-s: 11px;

// WEIGHT
$weight-size-fat: 700;
$weight-size-medium: 400;

// COLOR
$primary-color: #4E4E4E;
$secondary-color: #7C7C7C;
$third-color: #5C5C5C;
$fourth-color: #b9b9b9;

